---
layout: default
---

<div class="home">
  {% include info.html %}
  <h1 class="page-heading">Volunteers</h1>
  <ul>
    {% for volunteer in site.data.volunteers %}
    <li>
      {% if volunteer.website == 'NA' %}
        {{ volunteer.name }}
      {% else %}
        <a href="{{ volunteer.website }}">
        {{ volunteer.name }}
        </a>
      {% endif %}
      {{ volunteer.position }}
      {{ volunteer.about }}
      can talk about: {{ volunteer.topics }}
      Book a time <a href="{{ volunteer.calendly }}">here!</a>
    </li>
    {% endfor %}
  </ul>
</div>
