---
layout: default
---

<div class="home">
  {% include info.html %}
  <h3 class="page-heading">Volunteers</h3>
  <ul>
    {% for volunteer in site.data.volunteers %}
    <li class="volunteers">
      {% if volunteer.website == 'NA' %}
        <h4>{{volunteer.name}} - </h4>
      {% else %}
        <h4>
          <a href="{{ volunteer.website }}">{{volunteer.name}} </a> - 
        </h4>
      {% endif %}
      {{ volunteer.position }}
      {{ volunteer.about }}
      <p class="topics"><span>Can talk about:</span> {{ volunteer.topics }}.</p>
      <div class="booking"><a href="{{ volunteer.calendly }}">Book a time here!</a></div>
    </li>
    {% endfor %}
  </ul>
</div>
