<h3>Who you are</h3>
<p>You may be in school, trying to get an internship or job or struggling with a CS class. You may be a programmer that wants to design or designer that wants to program. You may be in a completely different field and wondering about how to get started in tech or how viable those tech bootcamps are. You may be gearing up to go to your first hackathon. You may be trying to get more twitter followers! </p>

<h3>Who our volunteers are</h3>
<p>We all have some affliation to <a href="https://techatnyu.org">Tech@NYU.</a> Uh, we've pretty much got the full spectrum covered. We are are product managers, designers, founders, engineers, investors, hackers, marketing strategists, venture capitalists, social media gurus and freelancers. We don't have all the answers but we'd like to think we're pretty darn smart and we'd love to share our experiences and how we got where we are.</p>

<h3>How do you talk to someone?</h3>
<p>We ask that you fill out a brief questionnaire! We want this to be a valuable experience for the *both* of us. The questionnaire will help us get to know you better! You can fill out the <a href="https://goo.gl/forms/GOeNNTMOyP34qnu13">questionnaire here</a> and we'll get in touch.</p>

<h3>How does Out of Office Hours work?</h3>
<p>After you fill the question naire and we make sure you're not a stalker, we'll send you the calendly link of the person you'd like to talk to and you can find a time for both of y'all to talk :)</p>